<receiver android:name=".BlacksnowTestWidget">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>

    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/blacksnow_test_widget_info" />
</receiver>
